<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
        <p style="font-size: larger; color: burlywood">你好, <span th:text="${userName}"></span> ,欢迎注册程序员实战基地网站与公众号啊！！-我是debug-steadyJack，欢迎与我交流!</p><br/>
        <p><strong style="color: #F00; font-size: 24px;">希望在未来的日子里，我能够与你一块成长!!</strong></p>
        <p><strong style="color: #F00; font-size: 24px;">请您30min内激活账户,链接：<a href="${url}" target="_blank" th:text="${url}"></a> </strong></p>
</body>
</html>


